
  //============= colors =================================

  $primary:#256cff;
  $secondary:#283A70;
  $bg-primary:#fafafa;
  $bg-social1:#3b5998;
  $bg-social2:#d85040;
  $nav-hover:#283a702e;
  $outline:#1f5cdec4;
  $text-color:#635e5e;
  $nav-link:#c36300;
  $border-color:#256cff36;
  $shadow:0 1px 1px #0000002e;
  $title:#403c3c;
  $dark:#303031;
  $text-cream:#b2bfc5;


  //for slider section

  $btn-slider:#ffffff82;
  $btn-border:#256cff36;


  //======================== Helper classes =====================

  .section-shadow{
    box-shadow: -3px 26px 27px -42px #00000047;
  }

  .bg-primary{
    background: $primary;
  }
  .bg-secondary{
    background: $secondary;
  }
  .bg-social-1{
    background: $bg-social1;
  }
  .bg-social-2{
    background: $bg-social2;
  }

  .btn-global{
    padding: 7px 14px;
    font-size: 14px;
    font-weight: bold;
    color: #2d2c2c;
    display: inline-block;
    margin: 0 10px 0 0;
    border: 1px solid #256cff36;
    background: #ffffff82;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    position: relative;

    &:hover{
      transform: translateY(-2px);
      box-shadow: $shadow;
      outline: 0;
      color:white;
      &:after{
        height: 100%;
        z-index: -1;

      }
    }
    &:after{
      content: '';
      transition:height 0.3s ease;
      left: 0;
      bottom: 0;
      position: absolute;
      background: #283A70;
      width: 100%;
      height: 0;
      padding: 0;
    }
  }
