@import "color-variables";


.download-area {
  min-width: 600px;
  margin: auto;
  text-align: center;
  padding-top: 200px;
  font-style: italic;

  .image-area {
    img {
      width: 150px;
    }

    p {
      font-size: 30px;
    }

  }

  .message-area {
    margin-top: 20px;

    p {
      font-size: 30px;
    }
  }

  .request-download-area {
    p {
      font-size: 20px;
      font-style: normal;
    }

    a {
      color: $nav-link;
    }
  }
}

