
  //============= colors =================================
  $primary:#256cff;
  $secondary:#283A70;
  $bg-primary:#fafafa;
  $bg-social1:#3b5998;
  $bg-social2:#d85040;
  $nav-hover:#283a702e;
  $outline:#1f5cdec4;
  $text-color:#777777;
  $nav-link:#c36300;

  //======================== Helper classes =====================

  .bg-primary{
    background: $primary;
  }
  .bg-secondary{
    background: $secondary;
  }
