
  //============= color variables=================================
      $primary:#256cff;
      $secondary:#da6500;
      $nav-hover:#283a702e;
      $outline:#1f5cdec4;
      $text-color:#777777;
  //======================== Helper classes =====================

  .bg-primary{
    background: $primary;
  }
  .bg-secondary{
    background: $secondary;
  }
