@import "color-variables";


.accordion{

  .accordion-left{
    flex: 1;
  }
  .accordion-right{
    flex: 1;
  }

  .card{
    border: none;
    margin-bottom: 20px;
    border-radius: 0;

    .card-content{
      border-radius: 0;
      border-left: 15px solid lighten($secondary,20%);
      border-right: 1px solid lighten($secondary,20%);

      .card-header{
        justify-content: space-between;
        border-radius: 0;
        border: none;

        .lead{
          margin-bottom: 0 !important;
          margin-top: 5px;
          font-weight: bold;
          color: lighten($secondary,20%);
        }

        .down-icon{
          text-align: center;
          font-size: 26px;
          border: none;
          color: lighten($secondary,20%);

        }
      }
    }

  }

}
.card-header[aria-expanded='true']{
  .down-icon{
    transform: rotate(180deg);
  }
}

@media(min-width: 769px) {
  .accordion{

    display: flex;

    .accordion-left{
      padding-right: 20px;
    }
    .accordion-right{
      padding-left: 20px ;
    }
  }
}

@media(min-width: 426px) {
  .down-icon{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 26px;
    border: none;
    border-radius: 100%;
    color: lighten($text-color, 100%) !important;
    box-shadow: 2px 2px 10px 0px lighten($secondary,40%);
    background: lighten($secondary,30%);
  }

}
