@import "color-variables";


//====Footer Here======

.footer-content{

  .company-contact{
    .contact-icon{
      height: 40px;
      width: 40px;
      color: darken($secondary, 15%);
      font-size: 24px;
      box-shadow: -9px 7px 12px -8px  $secondary;
      padding-left: 10px;
    }

    P{
      color: rgba($white,0.7);
      font-size: 18px;
      margin-bottom: 0 !important;
      margin-top: 3px;
      margin-left: 10px;
      padding-left: 10px;
      text-align: left;
      box-shadow: -9px -3px 12px -8px  $secondary;
    }
  }

  .company-media{

    @media(max-width: 425px){
      margin-top: 50px;
    }

    .lead{
      font-weight: bold;
      color: rgba($white,0.8);
    }
    P{
      color: rgba($white,0.7);
      font-size: 18px;
      text-align: left;
    }

    .icon-section{
      box-shadow: -9px -3px 12px -8px  $secondary;

      .media-icon{
        height: 35px;
        width: 35px;
        font-size: 22px;
        color: $secondary;
        margin-left: 20px;
        border-radius: 5px;
        border: none;
        text-align: center;

        &:hover{
          background: rgba($secondary, 0.8);
          color: $white;
          border: 1px solid $white;
          border-radius: 50%;
          transition: all 0.3s;


        }
      }
    }
  }

}






