.review-header{
  width: 100%;
  background-color: #F7F7F7;
  height: 80px;
  text-transform: uppercase;
  margin: 50px 0 20px 0;
}

.review-title-p{
  font-size: 30px;
  font-weight: bolder;
  margin-top: 15px;
  color: #444444;
}

.main-container{
  width: 60%;
  margin: auto;
}

.review-title{
  float: left;
}

.review-sub-title{
  float: right;
  color: #999;
  margin-top: 25px;
}

.url-for-review{
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
}

.review-sub-title a{
  text-decoration: none;
}

.review-sub-title a:hover{
   color: #999;
}

.slash{
  color: #6c757d;
  margin: 0 3px 0 3px;
}

.review-block{
  margin: 20px 0 20px 0;
}

.employee-image{
  height: 60px;
  border-radius: 100%;
}

.mdi-star{
  color: #EEB829;
  font-size: 20px;
}

.single-employee-info-area{

}

.minimum-margin-for-profile-details{
  margin-bottom: 20px;
}

.employee-details-area p{
  color: #8B8B8B;
}

.employee-name-area h5{
  font-weight: bold;
  color: #19D0DE;
}

.review-area{
  margin-top: 100px;
  width: 100%;
}

.review-container{
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}