@import 'color-variables';
@import '../sass/mixins';
@import '~slick-carousel/slick/slick';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


//================== header css goes here===================//


.header {
  position: fixed;
  width: 100%;
  background: $primary;
  z-index: 10;
}

.dropdown-user-define {
  border: 0;
  top: 45px;
  border-radius: 3px;
  overflow: hidden;
  min-width: 200px;
  background: white;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);

  .dropdown-item {
    color: $text-color;
    text-transform: uppercase;
    font-size: 13px;
    padding: 7px;

    &:hover {
      color: $nav-link;
    }
  }
}


.nav-user-define {
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.3s;
        padding: 5px 10px;
        margin: 2px;
        background: none;
        border: none;

        &:hover {
          background: $nav-hover;
        }

        &.active {
          background: $nav-hover;
          outline: 1px solid $outline;
        }

        &:focus {
          background: $secondary;
          outline: 0;
        }

        @media(max-width: 768px) {
          &:focus {
            background: $primary;

          }
        }
      }
    }
  }
}

.navbar-toggler {
  &.user-defined {
    background: $primary;
    color: white;
    outline: 0;
  }
}

//================ close header css=======================//

// slider section

.home-slider {
  height: 100vh;
  width: 100%;
  background: url("../../assets/images/slider/banner.jpg") no-repeat;
  overflow: hidden;
  background-size: cover;
  position: relative;
  z-index: 2;

  .device-helper{
    @media(max-width: 425px){
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .left-content {
    background: transparent;
    padding-top: 230px;
    @media(max-width: 425px){
      padding-top: 50px;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
      img{
        width: 100%;
        height: auto;
        @media(max-width: 425px){
          width:75%;
        }
      }
  }

  .right-content {
    background: transparent;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 425px){
      height: auto;
      padding-top: 165px;
    }

    p.title {
      @media(max-width:768px){
        font-size: 2rem;
        margin-bottom: 0;
      }
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 0.6;
      @media(max-width: 425px) {
        font-size: 2rem;
      }
    }

    h1 {
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 12px 0;
    }

    .button-action {
      margin-top: 15px;

      button {
        padding: 7px 10px;
        font-size: 14px;
        font-weight: bold;
        color: #2d2c2c;
        display: inline-block;
        margin: 0 10px 0 0;
        border: 1px solid $btn-border;
        background: $btn-slider;
        transition: 0.3s all;
        position: relative;

        &:hover {
          transform: translateY(-2px);
          box-shadow: $shadow;
          outline: 0;
          color: white;

          &:after {
            height: 100%;
            z-index: -1;

          }
        }

        &:after {
          content: '';
          transition: height 0.3s ease;
          left: 0;
          bottom: 0;
          position: absolute;
          background: #283A70;
          width: 100%;
          height: 0;
          padding: 0;
        }
      }
    }

  }

}

// about us section

.about-us {
  padding: 70px 0;
  background: $white;
  position: relative;
  z-index: 2;

  .section-title {
    text-align: center;
    text-transform: uppercase;
    color: $primary;
  }

  .sub-title {
    text-align: center;
    color: $text-color;
    padding-bottom: 20px;
  }

  .left-about {
    .about-details {
      color: $text-color;
      margin-bottom: 40px;
    }

    .items {
      display: flex;
      padding: 15px;
      margin-bottom: 15px;
      background: aliceblue;
      border-left: 3px solid rgba($secondary, 0.5);
      transition: all 0.3s ease;
      cursor: auto;

      &:hover {
        border-left-color: $primary;

        .box {
          .icon {
            border: 4px outset $primary;

            span {
              color: $primary;
              transform: scale(1.12);
            }
          }

        }

        .box-details {
          h6 {
            color: $primary;
          }
        }
      }

      .box {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0.2;

        .icon {
          border-radius: 50%;
          border: 4px inset rgba($secondary, 0.2);
          height: 70px;
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include transition(0.6s);

          span {
            font-size: 1.8rem;
            color: $secondary;
            transition: all 0.4s ease;
          }

        }

      }

      .box-details {
        display: flex;
        color: $text-color;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        h6 {
          margin: 0;
          padding-left: 10px;
          color: rgba($secondary, 0.8);
        }

        p {
          margin: 0;
          padding-left: 10px;
          font-size: 14px;
          line-height: 1.3;
          padding-top: 6px;

          &:first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .right-about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .info-graph {
      max-height: 500px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
      }
    }
  }
}

//features

.features {
  @extend .about-us;
  background: $dark;

  .sub-title {
    color: $text-cream;
  }

  .features-intro {
    padding: 20px;

    h3 {
      text-transform: uppercase;
      color: $primary;
      font-size: 1.2rem;
    }

    .features-text {
      color: $text-cream;
    }

  }

  .features-boxes {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .box {
      flex-basis: 48%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      margin: 5px;
      background: #272727a6;
      border-left: 2px solid #222223;
      @include transition(0.4s);

      @media(max-width: 768px) {
        flex-basis: 100%;
      }

      &:hover {
        border-left-color: $primary;
      }

      h5 {
        color: white;
        letter-spacing: 1px;
      }

      p {
        color: $text-cream;
      }
    }
  }

}

//Team

.our-team {
  @extend .features;
  background: $white;

  .sub-title {
    color: $text-color;
  }

  .team-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-width: 300px;
    border: 1px solid transparent;
    @include transition(0.4s);

    &:hover {
      border: 1px solid #ececec;
      background: rgba($secondary, 0.02);
    }

    .photo {
      img {
        width: 75%;
        border-radius: 50%;
        height: auto;
        border: 10px inset $img-border;
        margin: 0 auto;
      }
    }

    .name {
      font-size: 18px;
      padding-top: 10px;
      font-weight: bold;
      text-align: center;
      color: $secondary;
      text-transform: capitalize;
    }

    .designation {
      font-size: 14px;
      text-align: center;
      padding: 6px 0;
      text-transform: capitalize;
      font-weight: 500;
      color: rgba($secondary, 0.9);
    }

    .details {
      text-align: center;
      padding: 0 15px;
      color: $text-color;
      height: 110px;
      overflow-y: hidden;
      overflow-x: hidden;
    }

    .social {
      ul {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          display: inline;

          a {
            padding: 2px;
            font-size: 1.7rem;
            margin: 0 3px;

            span.mdi {
              &:before {
                @include transition(0.3s);
              }
            }

            &:hover {
              span.mdi {
                &:before {
                  transform: translateY(-3px);
                }
              }

              opacity: 1;
            }

            opacity: 0.8;

            &:nth-child(1) {
              color: $facebook;
            }

            &:nth-child(2) {
              color: $twitter;
            }

            &:nth-child(3) {
              color: $youtube;
            }

            &:nth-child(4) {
              color: $instagram;
            }
          }
        }
      }
    }
  }
}

.team-member-container {
  padding: 50px 0;

  .slick-list {
    margin: 0 -1px;
  }

  [aria-label='Previous'] {
    position: absolute;
    top: 48%;
    z-index: 10;
    left: 0;
  }

  [aria-label='Next'] {
    position: absolute;
    top: 48%;
    right: 0;
    z-index: 10;
  }

  .slick-arrow {
    padding: 0 5px;
    outline: 0;
    border: 0;
    background: rgba($secondary, 0.5);
    color: #fff;

    &:hover {
      background: $secondary;
    }

    .mdi {
      font-size: 2rem;
    }
  }
}

//price-plan

.price {
  @extend .our-team;
  background: $price-bg;
  padding: 70px 0;
  z-index: 2;
  position: relative;
  border-bottom: 5px solid rgba($text-grey, 0.5);

  .sub-title {
    color: $text-cream;
  }

  .price-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    max-width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 7px solid $price-topper;

    &.focus {
      border: 5px solid $primary;
      box-shadow: 0px -2px 20px 2px $primary;
      @media(min-width: 426px) {
        transform: scale(1.1);
      }
    }

    .topper {
      background: $price-topper;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      align-items: center;
      position: relative;

      &:after {
        content: '';
        height: 0;
        width: 0;
        border-top: 18px solid $price-topper;
        border-right: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 18px solid transparent;
        position: absolute;
        bottom: -35px;
      }

      h4 {
        text-align: center;
        text-transform: uppercase;
        padding: 12px 0;
        background: $price-dark;
        color: #efefef;
        width: 100%;
        margin: 0;
      }

      .month {
        padding: 16px 0;
        text-align: center;
        font-size: 3rem;
        text-transform: capitalize;
        color: white;

        span {
          color: white;

          &:last-child {
            font-size: 1rem;
          }
        }
      }

      .get-now {
        width: 80%;
        color: $yellow;
        @include transition(0.4s);
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid #4b5d77db;
        padding: 10px;

        &:hover {
          transform: translateY(-2px);
          background: $light-green;
          color: #fff;
        }
      }
    }

    .lower {
      background: $price-dark;
      flex: 1;
      box-shadow: inset -1px 4px 19px 0px #00000024;

      .price-details {
        list-style-type: none;
        padding: 15px 30px;
        margin-top: 20px;
        text-align: center;

        li {
          line-height: 3;
          border-bottom: 1px solid grey;
          color: $price-color;
          text-transform: capitalize;
          font-size: 14px;
          cursor: default;

          span {
            display: inline-block;

          }

          &:hover {
            color: $white;
          }
        }
      }
    }

    &:hover {
      .get-now {
        background: #ffb340;
        color: #fff;
      }
    }
  }
}

//===contact us===

.contact-us {
  margin-bottom: 414px;
  background: $white;
  padding: 70px 0;

  @extend .price;

  .sub-title {
    color: $text-color;
  }

  .mail-contact {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;

    h5 {
      color: $primary;
      text-transform: uppercase;
    }
  }

  .map {
    padding-top: 50px;
  }

  input, textarea {
    border-radius: 0;
    margin-bottom: 15px;
  }
}

// download

.download-section {
  background: $white;
  position: relative;
  margin-bottom: 450px;
  height: 100vh;
  z-index: 2;
}

// blog section

.blg-details {
  min-height: 100vh;
  background: $white;
  margin-bottom: 460px;
  z-index: 2;
  position: relative;
  .container {
    padding-top: 140px;
  }
}

.thank-you {
  background: $white;
  position: relative;
  margin-bottom: 450px;
  height: 100vh;
  z-index: 2;

  .inner {
    padding-top: 100px;
    text-align: center;

    p {
      color: $text-color;
    }
  }
}

.error-section {
  background: #fff;
  position: relative;
  margin-bottom: 450px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 102% -8%;
  background-image: url("../images/themes/bg.png");
  z-index: 2;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .numeric {
    span {
      font-size: 9em;
      color: $dark;
      font-weight: bolder;

      &:nth-child(2) {
        color: $primary;
      }

    }
  }
}

.review-area {
  width: 100%;
  position: relative;
  margin-bottom: 420px;
  background: #fff;
  padding-top: 134px;
  z-index: 2;

  .review-container {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;

    .profile-title {
      font-weight: bold;
      color: $primary;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .employee-rating {
      margin-bottom: 15px;
    }

    .employee-details {
      color: #999;
      height: 90px;
      overflow-y: auto;
      padding: 0 10px;

      &::-webkit-scrollbar {
        width: 1px;
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        width: 1px;
        background-color: rgba(193, 193, 193, 0.4);
      }

    }

    .employee-image {
      height: 60px;
      border-radius: 100%;
    }
  }
}

.mdi-star {
  color: #EEB829;
  font-size: 20px;
}

//================ close header css =======================//

.auth-form {
  margin-bottom: 420px;
  min-height: 100vh;
  background: $bg-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  z-index: 2;

  .container-box {
    max-width: 500px !important;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .md-title {
      margin-bottom: 20px;
      text-align: center;
      line-height: 28px;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    .md-subtitle {
      text-align: center;
      margin-bottom: 15px;
    }

    .card {
      padding: 30px 50px 50px;
      border-top: 3px solid $secondary;
      border-radius: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      @media (max-width: 375px) {
        padding: 25px;
      }

      .remember-box {
        display: flex;
        justify-content: space-between;
        @media (max-width: 375px) {
          font-size: 13px;
        }
      }

      .input-group {
        margin-bottom: 20px;
      }

      .or {
        position: relative;

        p {
          position: absolute;
          top: 0;
          background: #fff;
          padding: 3px 10px;
          left: 46%;
        }
      }

      .sign-text {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }

      .resend {
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;

        .btn {
          color: $primary;
          padding: 0 !important;
          vertical-align: unset;
        }
      }

      .token-input {
        width: 170px;
        margin: 20px auto;

        .form-control {
          border-radius: 40px;
        }
      }

      .social-box {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 375px) {
          justify-content: center;
          .social-btn {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.md-link {
  a {
    text-decoration: none;
    color: $primary;
  }
}

.auth-btn {
  background: $primary;
  color: $bg-primary;
  border-radius: 40px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.social-btn {
  width: 140px;
  color: $bg-primary;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.1px;

  i {
    margin-right: 5px;
  }
}

.full-btn {
  width: 100%;
  background: $primary;
  color: $bg-primary;
  border-radius: 40px;
  margin-bottom: 20px;
}

.blog-box {
  padding: 15px 0;
  max-width: 1140px;
  margin: 0 auto;

  .card-body {
    padding: 15px !important;
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  .blog-writer {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .person-image {
      width: auto;
      height: 30px;
      border-radius: 50px;
    }

    .writer {
      font-size: 12px;
      font-weight: bold;
      padding-left: 10px;
      text-decoration: none;
    }
  }

  .blog-description {
    font-size: 14px;
  }

  .my-footer {
    display: flex;
    justify-content: space-between;
    background: $bg-primary;
    align-items: center;
    padding: 5px 5px;

    .first {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 20px;
      }

      .rank {
        font-size: 13px;
        padding-left: 5px;
        color: #eeb829;
        font-weight: bold;

        span {
          color: $primary;
          font-weight: normal !important;
        }
      }
    }

    .last {
      .mdi {
        border: none;
        background: none;
        margin: 0 5px;
        padding: 3px;
        font-size: 20px;
      }

      .mdi-heart {
        color: #b60939;
      }

      .mdi-share {
        color: $primary;
      }
    }
  }
}

.blog-details {
  padding: 15px 0;
  display: flex;

  .blog-content {
    display: flex;
    flex-direction: column;

    .img-box {
      img {
        width: 100%;
      }
    }

    .date {
      font-size: 12px;
      font-weight: bold;
      padding: 5px 7px;
    }

    .writer-box {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;

      .first {
        display: flex;
        justify-content: center;
        align-items: center;

        .person-image {
          width: auto;
          height: 30px;
          border-radius: 50px;
        }

        .writer {
          font-size: 12px;
          font-weight: bold;
          padding-left: 10px;
          text-decoration: none;
        }
      }

      .last {
        display: flex;

        .mdi {
          border: none;
          background: none;
          margin: 0 5px;
          padding: 3px;
          font-size: 20px;
        }

        .mdi-heart {
          color: #b60939;
        }

        .mdi-share {
          color: $primary;
        }
      }
    }

    .title {
      font-weight: bold;
      font-size: 20px;
      padding: 10px 0;
    }

    .comment-box {
      padding: 10px 0;
    }

    .sub-title {
      border-top: 1px solid #ced4da4a;
      border-bottom: 1px solid #ced4da4a;
      font-weight: bold;
      font-size: 16px;
      padding: 5px 0;
      color: $secondary;
    }

    .comments {
      padding-top: 40px;

      .comment-item {
        position: relative;
        border: 1px solid #CED4DA;
        border-radius: 5px;
        margin: 20px 0;

        .comment-writer {
          background: #ffffff;
          position: absolute;
          top: -15px;
          left: 25px;
          padding: 0 7px;

          .writer {
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
          }
        }

        .comment-text {
          padding: 10px;
          font-size: 14px;
        }
      }

    }
  }
}

.blog-sidebar {
  padding: 25px 0;
  background: $bg-primary;

  .search-box {
    padding: 0 15px;

    .submit-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: $primary;
      color: $bg-primary;
    }
  }

  .side-category {
    padding: 20px 0;

    .category-title {
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      color: #256cff;
      border-top: 1px solid #ced4da6b;
      border-bottom: 1px solid #ced4da85;
      padding: 12px;
    }

    .category-list {
      padding: 10px 0;

      .category-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 15px;
        font-weight: 500;
        color: $bg-social1;
        text-decoration: none;
        font-size: 14px;
        border-left: 3px solid transparent;
        @include transition(0.4s);

        &:hover {
          border-left: 3px solid $secondary;
          background: rgba($primary, 0.03);
        }
      }

      ul {
        font-size: 12px;
        background: rgba($secondary, 0.03);
        padding: 10px;

        li {
          list-style: none;

          a {
            color: #283A70;
            padding: 6px 10px;
            display: block;
            text-transform: capitalize;
            font-weight: 500;
            border-left: 3px solid transparent;
            font-weight: bold;
            @include transition(0.4s);

            &:hover {
              border-left: 3px solid $secondary;
              background: #e7eaed;
            }
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  .recent-post {
    .post-title {
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      color: #256cff;
      border-top: 1px solid #ced4da6b;
      border-bottom: 1px solid #ced4da85;
      padding: 6px;
    }

    .post-box {
      padding: 13px 0;

      .item {
        padding: 5px 15px;
        font-size: 14px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          padding: 5px 12px;
          border-left: 3px solid $secondary;
          background: #e7eaed;
        }


        a {
          text-decoration: none;
          color: $secondary;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

.stars {
  input.star {
    display: none;
  }

  input.star:checked ~ label.star:before {
    content: '\2605';
    color: #FD4;
    transition: all .25s;
  }

  label.star {
    float: right;
    padding: 2px;
    font-size: 20px;
    color: #CED4DA;
    transition: all .2s;
  }

  label.star:hover {
    transform: rotate(-15deg) scale(1.3);
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before {
    color: #F62;
  }

  label.star:hover {
    transform: rotate(-15deg) scale(1.3);
  }

  label.star:before {
    content: '\2605';
  }
}

.sidebar-check {
  position: absolute;
}

.download-area {
  margin: auto;
  text-align: center;
  padding-top: 140px;
  font-style: italic;
  padding-left: 25px;
  padding-right: 25px;

  .image-area {
    img {
      width: 150px;
    }
  }

  .message-area {
    margin-top: 20px;

    p {
      font-size: 30px;
    }
  }

  .request-download-area {
    font-size: 20px;
    font-style: normal;

    a {
      color: $nav-link;
    }
  }
}

.comming-soon {
  height: 100vh;
  width: 100%;
  background: #fff;
  margin-bottom: 460px;
  z-index: 2;
  position: relative;

}

//this scss codes are written for coming-soon page
.pointed-area {
  padding: 140px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .coming-soon-area {
    display: flex;
    justify-content: center;

    .coming-soon {
      text-align: center;

      img {
        width: 30px;
      }

      .title {
        margin-top: 20px;
        font-size: 40px;
        @media(max-width: 425px) {
          font-size: 26px;
          line-height: 1.3;
          margin: 10px 0;
        }
      }

      .message {
        font-size: 20px;
      }

      .coming-timer {
        display: flex;
        justify-content: center;
        color: $primary;
        margin-top: 50px;
        @media(max-width: 425px) {
          margin-top: 20px;
        }

        .coming-timer-div {

          .digit {
            color: white;
            background-color: black;
            padding: 15px;
            border-radius: 3px;
            margin-right: 2px;
            font-weight: bold;
            font-size: 25px;
            @media (max-width: 425px) {
              padding: 5px;
            }
          }

          .clone {
            margin: 0 5px 0 5px;
          }

          .timer-intro {
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 16px;
          }
        }
      }
    }
  }

  // starting coding for news letter area
  .news-letter-area {
    padding:   50px;
    @media (max-width: 425px) {
      padding: 30px 0;
    }

    .news-letter {
      border-radius: 10px;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
      color: $bg-primary;

      .newsletter-title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .news-btn {
        background: $secondary;
        color: $bg-primary;
        margin: 16px 0;
      }
    }
  }
}

.faq-question {
  min-height: 100vh;
  margin-bottom: 460px;
  background: $white;
  position: relative;
  z-index: 2;
}

.faq {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .faq-left {
    flex: 1;
    padding-right: 20px;

    @media (max-width: 768px) {
      padding-right: 0;
    }
  }

  .faq-right {
    flex: 1;
    padding-left: 20px;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

  .card {
    border: none;
    margin-bottom: 20px;
    border-radius: 0;

    .card-content {
      border-radius: 0;
      border-left: 7px solid lighten($secondary, 20%);
      border-right: 0.5px solid lighten($secondary, 20%);

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
        border: none;

        .lead {
          font-weight: bold;
          font-size: 15px;
          color: lighten($secondary, 20%);
        }

        .down-icon {
          text-align: center;
          font-size: 26px;
          color: lighten($secondary, 30%);

          @media (max-width: 768px) {
            background: none !important;
            box-shadow: none;

          }

        }
      }

      .card-body {
        p {
          font-size: 14px;
          color: #676262;
        }
      }
    }
  }

  .card-header[aria-expanded='true'] {
    .down-icon {
      transform: rotate(180deg);
    }
  }

}

.base {
  border-top: 5px solid $secondary;
  margin: auto;
  text-align: center;

  .holder {
    width: 60px;
    height: 20px;
    background: $secondary;
    margin: auto;
    border-radius: 0 0 50% 50%;
  }

  .thread {
    display: inline-block;
    width: 4px;
    height: 100px;
    background: #bee0fd;
    border-radius: 5px;
    position: relative;
    transform-origin: 50% 0;
    animation: moveIt 2.5s ease-in-out infinite;

  }

  .knob {
    width: 10px;
    height: 10px;
    position: absolute;
    top: -18px;
    left: -4.5px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    border-bottom: 2px solid transparent;
  }

  .pendulum {
    position: absolute;
    z-index: 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    left: -75px;
    top: 60px;
    font-size: 30px;
    font-weight: bold;

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background-color: rgba(219, 219, 219, 0.13);
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: linear-gradient(#0A00FE, #4d4fff),
      linear-gradient(#979eff, #4d4fff),
      linear-gradient(#4d4fff, #0A00FE),
      linear-gradient(#4d4fff, #979eff);
      animation: rotate 4s linear infinite;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 6px;
      top: 6px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      background: white;
      border-radius: 5px;
    }

  }

  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  @keyframes moveIt {
    0%, 100% {
      transform: rotate(45deg);
    }
    50% {
      transform: rotate(-45deg);
    }
  }

}

.micro-nav{
  .navbar-nav {
    @media(max-width: 425px) {
      max-height: 390px;
      overflow: auto;
      background: #283a70;
      padding: 15px;
    }
  }

  //html{
  //  scroll-behavior: smooth;
  //}

  #pickUp {
    display: none;
    position: fixed;
    bottom: 50px;
    background: $secondary;
    padding: 10px;
    right: 50px;
    z-index: 100;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

    i {
      position: absolute;
      left: 13px;
      top: 6px;
      font-size: 1.5rem;
      color: #fff;
    }
  }
}

//====Footer Here======

.footer {
  padding: 70px 0;
  background: $price-bg;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  @media(max-width: 425px) {
    padding: 20px;
  }

  a {
    color: $footer-text;

    &:hover {
      color: $white;
    }
  }

  .intro {
    flex-grow: 1;

    p {
      margin: 0;

      &:nth-child(1) {
        font-weight: bold;
        color: $footer-col;
      }

      &:nth-child(2) {
        padding-top: 5px;
        font-size: 15px;
        color: grey;
        @media(max-width: 425px) {
          font-size: 13px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .subscribe {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .media-icon {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;

    a {
      cursor: pointer;

      span {
        color: #a0a0a0;
        font-size: 1.3rem;
      }

      &:hover {
        span {
          color: $white;
        }
      }
    }
  }

  .footer-col-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: $footer-col;
    @media(max-width: 425px) {
      display: none;

    }
  }

  .col-data {
    font-size: 14px;
    @media(max-width: 425px) {
      display: flex;
      justify-content: space-around;
    }

    .title {
      font-weight: bold;
      color: #c3c3c3;
      margin-bottom: 0;
    }

    .items {
      margin-top: 10px;

      p {
        &:last-child {
          color: $footer-col;
        }
      }
    }
  }

  .footer-top {
    .media-icon {
      @media(max-width: 768px) {
        display: none;
      }

      .icon {
        margin-right: 5px;
      }
    }
  }

  .footer-header {
    @media(max-width: 425px) {
      margin-top: 0 !important;
    }

    .info-section {
      justify-content: space-between;

      .items {
        flex: 1;
      }

      .information {

        .info-right {
          margin-left: 100px !important;
        }
      }

      .feature {
        p {
          color: #8c9fa6;
          margin-bottom: 0!important;
        }
      }
    }

    .copy-right {
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
      color: rgba($white, 0.5);

      small {
        flex: 1;
      }

      .payment-methods {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 25px;
          width: auto;
          margin-right: 5px;
        }
      }
    }
  }

}

//===topbar here======

.top-bar {
  background: $secondary;

  @media(max-width: 320px){
    font-size: 14px;
  }

  .media-icon {
    a {
      margin-right: 8px;
      @media(max-width: 320px){
        margin-right: 5px;
      }

      span {
        color: lighten($primary, 15%);
      }

      &:hover {
        span {
          color: $primary;
        }
      }
    }
  }

  .navbar {
    padding: 0 20px;

    .contact {

      p {
        margin-bottom: 0;
        margin-top: 9px;
        color: $white;
      }
    }

    .nav-item {
      &:hover {
        background: red !important;
      }
    }
  }
}