@import '../sass/color-variables';

//================== header css goes here===================//

.header{
  background: $primary;
}


//================ close header css=======================//

.auth-form {
  min-height: 100vh;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;

  .container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
      width: 500px !important;
      padding: 30px 50px 50px;
      border-top: 3px solid #1ad7dd;
      border-radius: 0;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;

      .remember-box {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}